#include <behaviors.dtsi>
#include <behaviors/naginata.dtsi>
#include <dt-bindings/zmk/bt.h> 
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        ng_on: ng_on {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LANGUAGE_1 &kp INTERNATIONAL_4 &to 1>
                ;
        };
        ng_off: ng_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LANGUAGE_2 &kp INTERNATIONAL_5 &to 0>
                ; 
        };
    };

    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };

        combo_ng_on {
            timeout-ms = <300>;
            key-positions = <32 33>;
            bindings = <&ng_on>;
            layers = <0>;
        };

        combo_ng_off {
            timeout-ms = <300>;
            key-positions = <28 29>;
            bindings = <&ng_off>;
            layers = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none  &none      &none     &none     &none           &none                                  &none            &none  &none      &none      &none      &none
&none  &kp Q      &kp W     &kp E     &kp R           &kp T                                  &kp Y            &kp U  &kp I      &kp O      &kp P      &none
&none  &kp A      &kp S     &kp D     &kp F           &kp G            &none      &none      &kp H            &kp J  &kp K      &kp L      &kp SEMI   &none
&none  &kp Z      &kp X     &kp C     &kp V           &kp B            &kp DEL    &kp BSPC   &kp N            &kp M  &kp COMMA  &kp DOT    &kp FSLH   &none
&none  &kp LCTRL  &kp LGUI  &kp LALT  &mt LCTRL BSPC  &mt LSHFT SPACE  &lt 2 TAB  &lt 3 ESC  &mt RSHFT ENTER  &none  &none      &mkp LCLK  &mkp RCLK  &none
            >;
        };

        naginata_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                     &trans     &trans  &trans     &trans   &trans    &trans
&trans  &ng Q   &ng W   &ng E   &ng R   &ng T                      &ng Y      &ng U   &ng I      &ng O    &ng P     &trans
&trans  &ng A   &ng S   &ng D   &ng F   &ng G      &trans  &trans  &ng H      &ng J   &ng K      &ng L    &ng SEMI  &trans
&trans  &ng Z   &ng X   &ng C   &ng V   &ng B      &trans  &trans  &ng N      &ng M   &ng COMMA  &ng DOT  &kp FSLH  &trans
&trans  &trans  &trans  &trans  &trans  &ng SPACE  &trans  &trans  &ng ENTER  &trans  &trans     &trans   &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans    &trans  &trans    &trans    &trans                     &trans     &trans     &trans    &trans     &trans    &trans
&trans  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT                  &kp ASTRK  &kp LPAR   &kp RPAR  &kp LBRC   &kp RBRC  &trans
&trans  &kp N1    &kp N2  &kp N3    &kp N4    &kp N5     &trans  &trans  &kp MINUS  &kp EQUAL  &kp DQT   &kp SQT    &kp LBKT  &trans
&trans  &kp N6    &kp N7  &kp N8    &kp N9    &kp N0     &trans  &trans  &kp GRAVE  &kp BSLH   &kp AMPS  &kp CARET  &kp RBKT  &trans
&trans  &trans    &trans  &trans    &trans    &trans     &trans  &trans  &trans     &trans     &trans    &trans     &trans    &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans   &trans   &trans      &trans      &trans                      &trans    &trans     &trans     &trans     &trans  &trans
&trans  &kp F1   &kp F2   &kp F3      &kp F4      &kp F5                      &trans    &mkp MB1   &mkp MB2   &trans     &trans  &trans
&trans  &kp F6   &kp F7   &kp F8      &kp F9      &kp F10  &trans  &trans  &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans  &trans
&trans  &kp F11  &kp F12  &bt BT_PRV  &bt BT_NXT  &trans   &trans  &trans  &kp HOME  &kp PG_UP  &kp PG_DN  &kp END    &trans  &trans
&trans  &trans   &trans   &trans      &trans      &trans   &trans  &trans  &trans    &trans     &trans     &trans     &trans  &trans
            >;
        };
    };
};
